[Unit]
Description=Web App

[Service]
Type=simple
Restart=on-failure
Environment=NODE_PORT=3000
ExecStart=/usr/bin/nodejs /home/ubuntu/eng84_cicd/app/app.js
User=ubuntu
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/eng84_cicd/app

[Install]
WantedBy=multi-user.target
